<template>
  <div class="header">
    <div class="logo">
      <img
        src="https://vignette.wikia.nocookie.net/amiibopedia/images/5/53/Logo_Pok%C3%A9mon.png/revision/latest/scale-to-width-down/340?cb=20160630142801&path-prefix=es"
        alt="Logo"
        class="Logo"
      />
    </div>

    <div class="logoempresa">
      <img
        src="https://www.aynitech.com/images/logoblancoayni.svg"
        alt="Logo Aynitech"
        class="LogoEmpresa"
      />
    </div>
  </div>
</template>

 

<style lang="scss" scoped>
.header {
  background: rgba(0, 0, 0, 0.2);
  height: 4em;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
  margin: 0;

  .Logo {
    height: 3em;
    max-height: 3em;
  }
  .LogoEmpresa {
    height: 3em;
    max-height: 3em;
  }
}
</style>
