<template>
  <div class="container">
    <PokemonHeader />
    <h1>Lista de pokemones</h1>
    <PokemonSearch :apiUrl="apiUrl" @setPokemonUrl="setPokemonUrl" />
    <PokemonList :imageUrl="imageUrl" :apiUrl="apiUrl" @setPokemonUrl="setPokemonUrl" />
    <PokemonDetail
      v-if="showDetail"
      :pokemonUrl="pokemonUrl"
      :imageUrl="imageUrl"
      @closeDetail="closeDetail"
    />
  </div>
</template>

<script>
import PokemonHeader from "./header.vue";
import PokemonSearch from "./PokemonSearch.vue";
import PokemonList from "./PokemonList.vue";
import PokemonDetail from "./PokemonDetail.vue";

export default {
  data: () => {
    return {
      imageUrl:
        "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/",
      apiUrl: "https://pokeapi.co/api/v2/pokemon/",
      pokemonUrl: "",
      showDetail: false
    };
  },
  components: {
    PokemonHeader,
    PokemonSearch,
    PokemonList,
    PokemonDetail
  },
  methods: {
    setPokemonUrl(url) {
      this.pokemonUrl = url;
      this.showDetail = true;
    },
    closeDetail() {
      this.pokemonUrl = "";
      this.showDetail = false;
    }
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Acme");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  background-image: linear-gradient(
      47deg,
      rgba(149, 149, 149, 0.05) 0%,
      rgba(149, 149, 149, 0.05) 33.333%,
      rgba(228, 228, 228, 0.05) 33.333%,
      rgba(228, 228, 228, 0.05) 66.666%,
      rgba(55, 55, 55, 0.05) 66.666%,
      rgba(55, 55, 55, 0.05) 99.999%
    ),
    linear-gradient(
      331deg,
      rgba(179, 179, 179, 0.05) 0%,
      rgba(179, 179, 179, 0.05) 33.333%,
      rgba(71, 71, 71, 0.05) 33.333%,
      rgba(71, 71, 71, 0.05) 66.666%,
      rgba(97, 97, 97, 0.05) 66.666%,
      rgba(97, 97, 97, 0.05) 99.999%
    ),
    linear-gradient(
      155deg,
      rgba(77, 77, 77, 0.05) 0%,
      rgba(77, 77, 77, 0.05) 33.333%,
      rgba(176, 176, 176, 0.05) 33.333%,
      rgba(176, 176, 176, 0.05) 66.666%,
      rgba(114, 114, 114, 0.05) 66.666%,
      rgba(114, 114, 114, 0.05) 99.999%
    ),
    linear-gradient(
      263deg,
      rgba(102, 102, 102, 0.05) 0%,
      rgba(102, 102, 102, 0.05) 33.333%,
      rgba(218, 218, 218, 0.05) 33.333%,
      rgba(218, 218, 218, 0.05) 66.666%,
      rgba(47, 47, 47, 0.05) 66.666%,
      rgba(47, 47, 47, 0.05) 99.999%
    ),
    linear-gradient(
      247deg,
      rgba(46, 46, 46, 0.05) 0%,
      rgba(46, 46, 46, 0.05) 33.333%,
      rgba(144, 144, 144, 0.05) 33.333%,
      rgba(144, 144, 144, 0.05) 66.666%,
      rgba(26, 26, 26, 0.05) 66.666%,
      rgba(26, 26, 26, 0.05) 99.999%
    ),
    linear-gradient(
      302deg,
      rgba(71, 71, 71, 0.05) 0%,
      rgba(71, 71, 71, 0.05) 33.333%,
      rgba(80, 80, 80, 0.05) 33.333%,
      rgba(80, 80, 80, 0.05) 66.666%,
      rgba(43, 43, 43, 0.05) 66.666%,
      rgba(43, 43, 43, 0.05) 99.999%
    ),
    linear-gradient(
      313deg,
      rgba(111, 111, 111, 0.05) 0%,
      rgba(111, 111, 111, 0.05) 33.333%,
      rgba(185, 185, 185, 0.05) 33.333%,
      rgba(185, 185, 185, 0.05) 66.666%,
      rgba(61, 61, 61, 0.05) 66.666%,
      rgba(61, 61, 61, 0.05) 99.999%
    ),
    linear-gradient(
      162deg,
      rgba(128, 128, 128, 0.05) 0%,
      rgba(128, 128, 128, 0.05) 33.333%,
      rgba(250, 250, 250, 0.05) 33.333%,
      rgba(250, 250, 250, 0.05) 66.666%,
      rgba(72, 72, 72, 0.05) 66.666%,
      rgba(72, 72, 72, 0.05) 99.999%
    ),
    linear-gradient(90deg, rgb(199, 81, 166), rgb(241, 197, 51));
  font-family: "Acme", arial;
  font-size: 1rem;
  font-weight: normal;

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

h1 {
  color: #ffca04;
}
</style>
